<html>

<body>
    <div class="ngdialog-message">
        [[selection.domain]]
        <form data-editable-form name="responseForm" >
            response:
            <tags-input ng-model="selection.response" min-length="1" placeholder="add response" ng-disabled="noteditable">
            </tags-input>

            concepts:
            <tags-input ng-model="selection.concepts" min-length="1" placeholder="add concepts" ng-disabled="noteditable">
            </tags-input>
        </form>
        <button ng-click="checked()">點選以編輯</button>
    </div>
    
</body>

</html>