<html>

<body>
    <div class="ngdialog-message">
        [[selection.domain]]
        <form data-editable-form name="responseForm" >
            response:
            <tags-input ng-model="selection.response" min-length="1" placeholder="add response" disabled="true">
            </tags-input>

            concepts:
            <tags-input ng-model="selection.concepts" min-length="1" placeholder="add concepts" disabled="true">
            </tags-input>
        </form>
    </div>
    
</body>

</html>