<html>
<meta charset="utf-8">
<style>
    /* set the CSS */
    
    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }
    
    .node text {
        font: 12px sans-serif;
    }
    
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }
</style>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.css" rel="stylesheet" media="screen">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.bootstrap.min.css" rel="stylesheet"
        media="screen">
    <link rel="stylesheet" href="./css/xeditable.css">
    <script src="./js/xeditable.js"></script>
</head>

<body ng-app="app">
    <script src="./script.js"></script>
    <!--<div style="width: 100%;">
            <div style="float:left; width: 70%">
                   hello
            </div>
            <div style="float:right; width:30%; background-color:red">
                bye
            </div>

        </div>  play with panel -->
    <div style="width: 100%;" ng-controller="graphCtrl">

        <div style="float:left; width: 70%">
            <tree treedata="objlist2" on-click="onClick(item)"></tree>
        </div>
        <div style="float:right; width:30%;" ng-controller="detailPanel">
            <h2>[[selection.domain]]</h2>
				<form data-editable-form name="responseForm">
					response:
					<tags-input ng-model="selection.response" min-length="1" placeholder="add response">
						<auto-complete source="loadTags($query)"></auto-complete>
					</tags-input>
					
					concepts:
					<tags-input ng-model="selection.concepts" min-length="1" placeholder="add concepts">
						<auto-complete source="loadTags($query)"></auto-complete>
					</tags-input>
					
					children:
					<tags-input ng-model="selection.children" min-length="1" placeholder="add children">
						<auto-complete source="loadTags($query)"></auto-complete>
					</tags-input>        
			</form>
        </div>
    </div>



</body>

</html>